@import "compass/css3";
@import "compass/reset";
@import "flexr";
@import "compass/typography";
@import "compass/utilities";
@import "sprites/*.png";

@include all-sprites-sprites;

// Colors
$orange: rgb(236,60,73);//#EE555E;
$bloodOrange: #BA4249;
$navy: #2B3C50;
$grape: #575469;
$egg: #F9FAFA;
$tan: #C7A8A3;
$teal: #64859E;
$dark: #4D3740;

h1, h2, h3, nav{
	font-family: 'Lato', sans-serif;
}
h1{
	font-size: 4.5em;
	margin: 20px 0;
	text-transform: uppercase;
	color: $egg;
}
h1::before{
	content: url('../img/quill.svg');
	position: absolute;
	left: -90px;
}
h2{
	font-size: 3em;
	color: $orange;
	position: relative;
	margin-left: 1%;
	text-transform: uppercase;
}
h2::before{
	content: "Our";
	position: absolute;
	color: $navy;
	font-size: 0.5em;
	font-family: 'Dancing Script', cursive;
	bottom: 50px;
	text-transform: none;
}

p, span{
	font-family: 'Roboto Slab', serif;
	font-size: 1.1em;
	line-height: 1.5em;
}

section{
	width: 100%;
	min-height: 800px;
	background: #FFF;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

main{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 70px 0;
	position: relative;
	z-index: 3;
}

.btn{
	@include transition(all .25s ease 0);
}
.btn:hover{
	color: $dark;
	background: $egg;
}
.btn:active{
	position: relative;
	top: 5px;
}

/**************
		NAV
**************/

nav{
	@include flexr($justify: space-around, $align: center);
	position: relative;
	z-index: 3;
}

a#menu-toggle{
	display: none;
	text-decoration: none;
	text-transform: uppercase;
	color: $egg;
	padding: 20px;
	font-size: 1.5em;
}

.main-nav, .social{
	list-style: none;
	@include flexr($justify: center, $align: center);
	/*& li{
		float: left;
	}*/
	a{
		@include link-colors($egg, $egg, $egg, $egg, $egg);
		text-decoration: none;
	}
	text-transform: uppercase;
}
.main-nav{
	order: 1;
	li{
		padding: 40px;
	}
	font-size: 0.9em;
}
.social{
	a{
		margin: 15px;
		display: block;
		width: 16px;
		height: 16px;
		@include hide-text;
	}
}
@media screen and (max-width: 800px){
	.social{
		display: none;
	}
	.main-nav li{
		padding: 40px 0;
	}
	nav{
		display: block;
	}
	.main-nav{
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-ms-justify-content: space-around;
		justify-content: space-around;
	}
}
@media screen and (max-width: 420px){
	.main-nav{
		display: none;
	}
	a#menu-toggle{
		display: block;
	}

	
}



/******************
	FIRST SECTION
******************/

section:first-child{
	background: linear-gradient(rgba(236,60,73,.9), rgba(236,60,73,.9)),
				image-url('meeting-room.jpg');
	background-size: cover;
	& p{
		color: $egg;
		max-width: 600px;
	}
}
section:first-child::after{
	content: ' ';
	position: absolute;
	height: 100%;
	width: 100%;
	@include transform(skewY(-25deg));
	background: linear-gradient(rgba(236,60,73,.9), rgba(255,255,255,.3));
	z-index: 1;
	box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
}
section:first-child::before{
	content: ' ';
	position: absolute;
	height: 100%;
	width: 100%;
	@include transform(skewY(25deg) translateY(110%));
	background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2));
	z-index: 2;
}

// Container for the Text
.hero-container{
	position: relative;
	float: right;
	height: 100%;
	max-width: 600px;
	padding: 10% 0;
}

// Down Arrow
.hero-container::after{
	content: inline-image('sprites/arrow-down-L.png');
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 42px;
	height: 42px;
}

@media screen and (max-width: 800px){
	h1{
		font-size: 3em;
	}
	h1::before{
		content: "";
	}
	.hero-container{
		max-width: 400px;
		padding: 50px 0;
	}
	.hero-container::after{
		bottom: -40px;
	}
	section:first-child main{
		padding: 10px 0;
	}
}


/*****************
			WORK
*****************/


.work h2+p{
	margin: 20px 0 60px 1%;
	max-width: 400px;
}

.work::after{
	content: ' ';
	position: absolute;
	height: 80%;
	width: 100%;
	@include transform(skewY(-25deg) translateY(-104.5%));
	background: $navy;
	z-index: 1;
}
.work::before{
	content: ' ';
	position: absolute;
	height: 80%;
	width: 100%;
	@include transform(skewY(25deg) translateY(125%));
	background: $navy;
	z-index: 2;
	box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
}

.work a{
	display: block;
	width: 280px;
	position: relative;
	z-index: 3;
	color: $egg;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	background: $bloodOrange;
	padding: 20px;
	text-decoration: none;
	font-size: .8em;
	margin: 20px auto;
	text-align: center;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%);
	-moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%);
	-ms-clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
}

.tile-container{
	position: relative;
	overflow: hidden;
	z-index: 2;
	@include clearfix;
	width: 100%;
	.tile-1{
		width: 23%;
		margin: 1%;
		height: 300px;
		background: $orange;
		float: left;
	}
	.tile-2{
		width: 48%;
		margin: 1%;
		height: 300px;
		background: $orange;
		float: left;
	}
	.tile-2:nth-child(even){
		background: $grape;
	}
	h3{
		font-family: 'Dancing Script' cursive;
		text-align: center;
		margin: 40px 0;
		color: $egg;
		font-size: 1.5em;
	}
	p{
		font-family: 'Lato', sans-serif;
		color: $egg;
		text-align: center;
		text-transform: uppercase;
		margin: 60px 50px;
	}
}

/*************
	PHILOSOPHY
*************/

.philosophy{
	padding: 50px 0 200px 0;
	background: linear-gradient(rgba(236,60,73,.9), rgba(236,60,73,.9)),
				image-url('workspace.jpg') no-repeat;
	background-size: cover;
	p,h2,h3{
		color: $egg;
	}
	h3{
		margin: 20px 0;
	}
	.tile-1, .tile-2{
		background: $teal;
		overflow: hidden;
	}
	.ideals{
		@include flexr($el: div, $justify: space-between, $align: flex-start);
		-webkit-flex-wrap: wrap;
		margin: 100px 0;
		.ideal{
			max-width: 350px;
		}
	}
}
.philosophy::after{
	content: " ";
	height: 86.75%;
	width: 100%;
	background: linear-gradient(125deg, rgba(255,255,255,.3), rgba(236,60,73,.9));
	@include transform(skewY(25deg) translateY(-103%));
	position: absolute;
	z-index: 1;
	box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
}

.philosophy h2+p{
	margin: 20px 0 60px 1%;
	max-width: 500px;
}
.philosophy a{
	display: block;
	width: 280px;
	position: relative;
	z-index: 3;
	color: $egg;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	background: $navy;
	padding: 20px;
	text-decoration: none;
	font-size: .8em;
	margin: 0 auto;
	text-align: center;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%);
	-moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%);
	-ms-clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
}
.tile-container img{
	min-height: 100%;
	max-height: 150%;
}
.tile-1, .tile-2{
	overflow: hidden;
}

@media screen and (max-width: 1000px){
	.tile-2{
		display: none;
	}
	.tile-container .tile-1{
		width: 48%;
	}
}
@media screen and (max-width: 500px){
	.tile-container .tile-1{
		width: 98%;
	}
}

/****************************
					CLIENTS
****************************/

.clients{
	padding: 50px 0 0 0;
	main{
		max-width: 1000px;
	}
}
.clients h2+p{
	margin: 20px 0 60px 1%;
	max-width: 500px;
}
.clients ul{
	@include flexr($el: li, $justify: center, $align: stretch);
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.clients li img{
	max-width: 100%;
	width: 100%;
}
.clients::after{
	content: " ";
	height: 100%;
	width: 100%;
	background: $navy;
	@include transform(skewY(25deg) translateY(-207%));
	position: absolute;
	z-index: 2;
	box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
}
.clients::before{
	content: " ";
	height: 100%;
	width: 100%;
	background: $orange;
	@include transform(skewY(25deg) translateY(100%));
	position: absolute;
	z-index: 2;
}

/**************************
			CALL TO ACTION
**************************/

.call-to-action{
	background: linear-gradient(rgba(46,60,80,.95) rgba(46,60,80,.95)),
	            image-url('joinus.jpg') no-repeat;
	background-size: cover;
	text-align: center;
	color: $egg;
	h2{
		color: $egg;
		margin: 5px 0 30px 0;
	}
	h2::before{
		content: "";
	}
	min-height: 450px;
	main{
		width: 80%;
		max-width: 500px;
	}
	a{
		padding: 20px;
		color: $egg;
		background: $orange;
		width: 225px;
		display: block;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		text-decoration: none;
		margin: 30px auto 0 auto;
	}
}
.call-to-action::after{
	content: " ";
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.04);
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	@include transform(skewY(25deg) translateY(11%));
}

/*********************
			FOOTER
*********************/

footer{
	background: $egg;
	color: $navy;
}
.super-footer{
	@include flexr($el: div, $justify: space-around, $align: flex-start);
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	padding: 50px;
	h3{
		margin: 20px 0 20px 0;
	}
	line-height: 1.5em;
	li, p, span{
		font-size: 0.9em;
	}
	span{
		margin: 30px 0 0 0;
		position: relative;
		display: block;
	}
	span::after{
		content: "";
		position: absolute;
		top: -15px;
		left: 0;
		width: 35%;
		height: 3px;
		background: $bloodOrange;
	}
}
.footer-links{
	@include flexr($el: div, $justify: center, $align: flex-start);
	div{
		margin: 0 20px;
	}
}
.footer-about{
	max-width: 200px;
}
.sub-footer{
	font-family: 'Lato', sans-serif;
	color: $egg;
	width: 100%;
	min-height: 50px;
	background: $orange;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	-moz-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	align-items: center;
}